*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.conX{
    width: 100%;
    max-width: 1369px;
    height: 100vh;
    background-color: rgb(20, 53, 62);
    padding-top: 60px;
    margin: auto;
}
.conX h1{
    text-align: center;
    color: yellow;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    padding: 20px 0;
}
.conX p{
    text-align: center;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.conX p span{
    color: #f9a2a2;
}
.InputNum{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;    
}
form{
    display: flex;
}
#InputV{
    width: 200px;
    padding: 10px 10px;
    outline: none;
    border: none;
    font-family: sans-serif;
    font-size: 30px;
}
#InputS{
    padding: 15px 10px;
    border: none;
    width: 100px;
    background-color: yellow;
    color: #08661d;
    outline: none;
    font-weight: 600;
}
#InputV::placeholder{
    font-size: 18px !important;
}
.Hidden{
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    border: 2px dotted #fff;
}
.error{
    border: 2px dotted red;
    color: red !important;
}
.correct{
    border: 2px dotted lime;
    color: yellow !important;
}
.RestartBTN{
    width: 300px;
    padding: 15px 0;
    border: 2px solid #fff;
    border-radius: 5px;
    background: none;
    color: #fff;
}